html,
body
 {
  height: 100%;
}

#health-tracker-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0;
}

@media screen and (min-width: 768px) {
  #health-tracker-app {
    flex-direction: row;
  }
}

#search-list-close {
  display: none;
}

#main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#search-list-container {
  position: absolute;
  width: 100%;
  z-index: 2;
}

#saved-list-container {
  width: 100%;
}

.table >thead > tr > td {
  font-weight: bold;
}

.table > tbody > tr > td.calories,
.table > thead > tr > td {
  text-align: right;
}