html,
body
 {
  height: 100%;
}

#health-tracker-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0;
}

@media screen and (min-width: 768px) {
  #health-tracker-app {
    flex-direction: row;
  }
}

#main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#search-list-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: none;
}

#saved-list-container {
  width: 100%;
}

.brand-name {
  font-style: italic;
}

.food-name {
  /*font-weight: bold;*/
}

.table >thead > tr > td {
  font-weight: bold;
}

.table > tbody > tr > td.calories,
.table > thead > tr > td {
  text-align: right;
}

.has-error .form-control::-webkit-input-placeholder { /* Chrome, Safari, Edge (alias) */
  color: #c87878;
}

.has-error .form-control::-moz-placeholder { /* Firefox */
  color: #c87878;
}

.has-error .form-control:-ms-input-placeholder { /* IE */
  color: #c87878;
}

.has-error .form-control:placeholder-shown { /* Standard, but vendor pseudo-elements override. */
  color: #c87878;
}