html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 10px 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  padding: 0 10px;
}

p {
  margin: 0 0 10px;
}

.api-attribution {
  font-size: .6rem;
}

input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus {
  box-shadow: 0 0 14px rgba(69, 128, 128, 1);
}

.has-error input {
  border-color: #a32929;
}

.has-error input:focus {
  box-shadow: 0 0 14px #a32929;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-addon {
  width: 40px;
  padding: 0;
}



#health-tracker-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}


#header {
  margin: 0 10px;
}

#main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin: 0 10px;
}

@media screen and (min-width: 600px) {
  #health-tracker-app {
    flex-direction: row;
    justify-content: center;
  }

  .input-group {
    min-width: 200px;
  }

  #main {
    min-width: 300px
  }
}

#search-list-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: none;
  background: #fff;
}

#saved-list-container {
  width: 100%;
}

.saved-list-table {
  border-collapse: collapse;
  width: 100%;
}

.saved-list-table td {
  padding: 8px 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.saved-list-table th {
  padding: 10px;
  border: none;
  text-align: right;
  font-size: 1.4rem;
}

.saved-list-table .calories {
  text-align: right;
}

#search-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
}

.search-list-item {
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: .90rem;
  margin-bottom: -1px;
  padding: 10px;
}

.search-list-item p:last-child {
  margin-bottom: 0;
}

.search-list-item:last-child {
  border-radius: 0 0 4px 4px;
}

.close-list {
  border-radius: 4px 4px 0 0;
  border: none;
  color: #8c8c8c;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
  font-weight: 700;
}

.remove-item {
  font-size: 40px;
  background: none;
  border: none;
  width: 40px;
  padding: 0;
  font-weight: 700;
  color: #ddd;
}

td.remove-item-cell {
  vertical-align: middle;
}

.brand-name {
  font-style: italic;
}

.food-name {
  /*font-weight: bold;*/
}

.has-error input::-webkit-input-placeholder { /* Chrome, Safari, Edge (alias) */
  color: #c87878;
}

.has-error input::-moz-placeholder { /* Firefox */
  color: #c87878;
}

.has-error input:-ms-input-placeholder { /* IE */
  color: #c87878;
}

.has-error input:placeholder-shown { /* Standard, but vendor pseudo-elements override. */
  color: #c87878;
}