<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Health Tracker</title>
  <meta name="description" content="A nutrition calorie counter implementing Backbone.js">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <link href="css/styles.css" rel="stylesheet">

</head>
<body>
  <section id="health-tracker-app" class="container-fluid">
    <div class="row">
      <header id="header" class="col-sm-6">
        <h1>Health Tracker</h1>
        <div class="input-group">
          <input id="search" type="text" class="form-control" placeholder="Enter a food name to search" aria-describedby="basic-addon1" autofocus>
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        </div>
        <button id="search-list-close" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="list-group" id="search-list"></div>

      </header>

      <section id="main" class="col-sm-6">
        <p>Checking for stored food items for today…</p>
        <table class="table">
          <thead><tr><td>Today's calories:</td><td class="calories">…</td><td></td></tr></thead>
          <tbody id="saved-list"></tbody>
        </table>
      </section>
    </div>

  </section>

  <!-- Templates -->
  <script type="text/templates" id="saved-item-template">
    <td><%= name %></td><td class="calories"><%= calories.toFixed() %></td><td><button type="button" class="close" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
  </script>

  <script type="text/templates" id="search-item-template">
    <h4 class="list-group-item-heading"><%= name %></h4>
  </script>

  <!-- jQuery, Underscore, Backbone, Backbone.LocalStorage -->

  <!--<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>-->
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>-->
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>-->

  <script src="js/lib/jquery-2.1.4.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage-min.js"></script>

  <!-- App -->
  <script src="js/models/food-item.js"></script>
  <script src="js/collections/search-list.js"></script>
  <script src="js/collections/food-list.js"></script>
  <script src="js/views/saved-item-view.js"></script>
  <script src="js/views/search-item-view.js"></script>
  <script src="js/views/app-view.js"></script>
  <script src="js/app.js"></script>

</body>
</html>